.home {
  text-align: center;
}

.home-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35px;
}

.home-header {
  background-color: white;
  height: 70px;
  padding: 20px;
  color: white;
  border-bottom: 1px solid #F16622;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.col.col-xs-12.col-sm-9{
  padding: 0;
}
.loader-wrap{
  width: 100%;
  
}
.loader{
  margin: auto;
  display: block;
}