#locationForm{
  margin-top: 10px;
  min-width: 180px;
}
.input-group{
  margin: 10px 0;
  width: 100%;
}

.input-group-btn{
  position: absolute;
  right: 29px;
  top: 0;
  z-index: 10;
}
.group--2{
  width: calc(100% - 30px);
  
}
.default-group{
  width: 100%;
}
.form-header{
  height: 80px;
}
.form-name{
  height: 35px;
}
.button-gp{
  display: block;
  height: 35px;
}
.form-control{
  display: inline-block;
  width: 100%;
}
.my-autocomplete-container {
  position: relative;
  top: 100%;
}
.btn-warning{
  border-radius: 0;
  margin: 0 5px;
}
.inputs{
  margin-top: 30px;
}
h4{
  margin-top: 10px;
}
.btn{
  
}
.btn-left,
.btn-right{
  width: 85px;
  margin: 0;
  width: 50%;
}

.btn-group{
  width: 100%;
}

.btn-left,
.btn-left:active, 
.btn-left:focus,
.btn-left:hover,
.btn-left:active:focus{
  background: #FEA000;
  border-color: #FEA000;
  outline: 0;
}
.btn-right,
.btn-right:active, 
.btn-right:focus,
.btn-right:hover,
.btn-right:active:focus,
.btn-danger, 
.btn-danger:active, 
.btn-danger:focus,
.btn-danger:hover,
.btn-danger:active:focus{
  background: #F16622;
  border-color: #F16622;
  outline: 0;
}
.btn-danger{
  border-radius: 0;
}
/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
@media only screen and (max-width : 1200px) {
  
}

@media only screen and (max-width : 979px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {
 
}

@media only screen and (max-width : 320px) {

}
  